<div class="home">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Christoph Herzog</h4>
                    <div class="card-text">
                        <p class="m-b-3">
                            <em>
                                Sharing my interests in Medicine, the world of IT and other rumblings in my head.
                            </em>
                        </p>
                        <div class="social">
                            <div class="text-xs-center mr-1">
                                <a href="https://twitter.com/theduke_at" target="_blank">
                                    <i class="fa fa-twtr-custom fa-2x" aria-hidden="true"></i>
                                    <br>
                                    @theduke_at
                                </a>
                            </div>
                            <div class="text-xs-center mr-1">
                                <a href="https://github.com/theduke" target="_blank">
                                    <i class="fa fa-github-square fa-2x" aria-hidden="true"></i>
                                    <br>
                                    @theduke
                                </a>
                            </div>
                            <div class="text-xs-center">
                                <a href="mailto:chris@theduke.at">
                                    <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                                    <br>
                                    Email
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            {% set section = section.subsections.0 %}
            {% include "preview_list.html" %}
        </div>
    </div>
</div>
